<div class="explain">
    Paul Bassett의 매장 직원은 모두 전문 바리스타로, 월드 바리스타 챔피언 폴 바셋의 기술과 노하우를 그대로 전수받아 커피를 추출합니다.
    신입 직원은 다양한 전문 교육 프로그램과 훈련을 거쳐 Paul Bassett 커피에 대해 제대로 이해하고 실력을 갖추게 된 후에
    비로소 Paul Bassett의 숙련된 바리스타로서 달콤한 디저트 스타일 에스프레소를 추출할 수 있게 됩니다.
</div>
<div class="baristaEducation">
    <img src="../../img/img_baristaRoleStep.png">
</div>
<div class="baristaEduImage">
    <img src="../../img/img_baristaRole_1.png">
    <img src="../../img/img_baristaRole_2.png">
</div>