<div class="tea-explain1">
    <span class="title">Paul Bassett 4th Collaboration</span>
    <p>
        장인과 장인의 만남<br>
        원두의 선정부터 로스팅, 추출까지의 모든 과정에 심혈을 기울여 제공하는 Paul Bassett.과
        그 가치를 닮은 140년 장인정신의 삿포로 맥주와의 4번째 콜라보레이션.
        삿포로의 청정자연에서 산화방지맥아로 만들어진 풍부하고 부드러운 거품의
        스노우헤드로 맛과향이 지켜져 풍미가 우수한 삿포로 맥주를 폴 바셋에서 만나실 수 있습니다.
    </p>
    <img src="../../img/img_sapporo_1.png" id="tea-image1" >
</div>
<div class="tea-explain2">
    <span class="title">Bitter but Refreshing</span>
    <p>
        876년 9월 홋카이도 삿포로에 일본 최초의 맥주양조장을 설립, 시의 이름을 딴 삿포로맥주가 출시되었습니다.
        당시 맥주를 생산하기 위해 삿포로 지역으로 생활터를 옮긴 일꾼들은 밤하늘의 북극성을 보고 고향의 그리움을 달래고,
        앞으로의 희망을 기원했다고 하며, 이 북극성을 모티브로 지금의 삿포로맥주의 로고가 탄생되었습니다.
        척박한 환경속에서도 ‘마지막 한 방울까지 최고의 제품을 만들겠다’는 품질에 대한 확고한 신념과 장인 정신은
        140년전부터 오늘날까지 이어지며 지금의 삿포로맥주를 만들어내고 있습니다.
    </p>
    <img src="../../img/img_sapporo_2.png" id="tea-image2">
</div>
<div class="espresso">
    <img src="../../img/img_menuSapporo_1.png">
    <span class="subTitle">Sapporo(삿포로 생맥주)</span>
    <p>
        140년 장인정신으로 제대로 만든 삿포로 생맥주
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuSapporo_2.png">
    <span class="subTitle">Radler(라들러)</span>
    <p>
        맥주와 레몬에이드의 상큼한 조화, 독일의 전통 맥주 라들러
    </p>
</div>
