<div class="Identity">
    <span class="title">Logo</span>
    <p>
        우리의 로고는 브랜드의 가장 중요한 요소 중 하나로
        2003년 최연소 월드 바리스타 챔피언십 폴 바셋의 친필 사인으로부터 시작합니다.
        그가 생각하는 커피 철학과 원칙, 커피 맛으로부터 출발한 Paul Bassett은 장인정신을
        기반으로 한잔의 커피를 제공하기 위해 끊임없이 노력하고 헌신하는 바리스타의 열정과
        브랜드의 진정성을 선언하기 위해 친필 사인으로 브랜드를 상징화 합니다.
    </p>
    <div class="identityImage">
        <img src="../../img/bg_bi.gif" id="logo">
    </div>
</div>
<div class="Identity">
    <span class="title">Crown</span>
    <p>
        로고 상단의 왕관(Crown)은 최연소 바리스타 챔피언을 상징하며,
        동시에 추출되어 떨어지는 커피의 형상과 함께 폴 바셋의 친필 사인이 결합되어
        브랜드의 고유성과 자부심을 표상합니다. 왕관(Crown)의 붉은 색상은 잘 익은
        커피체리(생두)의 빛으로부터 영감을 받아 바리스타의 순수한 열정과 좋은 한잔의
        커피로 인해 모든 감각이 깨어나는 활력을 형상화 한 이미지를 표현합니다.
    </p>
    <div class="identityImage">
        <img src="../../img/img_identity_1.png" id="crown">
    </div>
</div>
<div class="Identity">
    <span class="title">Pattern</span>
    <p>
        브랜드 로고의 상징인 크라운을 높이 들어 햇빛에 빛나는 느낌을
        눈에 담은 잔상을 '마름모'로 형상화 하였습니다. 마름모에 중앙
        선을 추가하여 브랜드 품질과 맛, 신선도의 근간이 되는 '원두'의
        모습으로 성장 시킵니다. 원두를 일정하게 반복하여 두껍지 않은
        직선으로 연결해 브랜드의 고집과 철학, 세련된 느낌을 표현 하였습니다.
    </p>
    <div class="identityImage">
        <img src="../../img/img_identity_2.png" id="pattern">
    </div>
</div>
<div class="Identity">
    <span class="title">Color</span>
    <p>
        로고와의 조화를 유념하여 사용 합니다. 기본 컬러 조합은 브랜드 컬러인
        블랙 / 커피 브라운 / 라떼 브라운을 사용 합니다. 식재료의 식감과 포인트로
        들어갈 때, 크라운 레드 컬러 / 화이트를 사용하여 폴 바셋의 열정과 활력을
        표현합니다. 브랜드의 명확한 가치 표현이 필요할 때 화이트 / 블랙을 사용합니다.
    </p>
    <div class="identityImage">
        <img src="../../img/img_brandColor.png" id="color">
    </div>
</div>
