<div class="explain">
    <span class="title">1 Shop = 1 Child</span>
    <p>
        Paul Bassett은 전 세계 커피 생산량의 7% 미만인 최상급 스페셜티 커피만을 사용합니다.
        올바른 커피 문화의 확산을 목표로 전 세계 커피 산업의 고른 발전을 꿈꾸는 Paul Bassett은
        지속적인 투자로 환경이 개선되고 있는 스페셜티 커피 생산 농가가 아닌 커피 생산 농가에서도
        환경 개선이 이루어질 수 있도록 모든 매장에서 커피의 원산지이자 Paul Bassett의 커피를 생산하는
        국가인 에티오피아의 아동을 한 명씩 후원하고 있습니다. 이 아이들이 보다 나은 환경에서 자라나
        만들어낼 변화를 통해 커피 산업이 다같이 발전해나갈 수 있기를 기대합니다.
    </p>
    <p>
        지속적인 투자가 이루어지고있는 스페셜티 커피 생산 농가가 아닌 커피 농가의 환경은 아직 많은 개선이
        필요한 것이 현실입니다. Paul Bassett은 사회의 구성원으로서 커피 브랜드로서의 역할 뿐 아니라 사회와
        함께 성장해나가는 브랜드로서의 역할을 하기 위해 “1 Shop = 1 Child”라는 기치 아래 국제구호개발
        전문기관인 월드비전과 함께 노력합니다.
    </p>
    <p>
        모든 매장은 오픈과 동시에 커피의 원산지이자 Paul Bassett의 커피를 생산하는 국가인 에티오피아에 살고있는
        아동과 인연을 맺고 후원을 시작합니다. 매장의 바리스타들은 비록 작은 손길이지만 지구 건너편에 살고 있는
        아이들에게는 큰 희망이 되기를 기도하며 오늘도 힘을 내어 정성껏 커피를 만듭니다. 그리고 시간이 지날수록
        서로를 더 잘 알아가며 관심을 갖게 되는 과정 속에서 자연스럽게 다른 이를 배려하고 사랑하는 법을 배우며 성장해나갑니다.
    </p>
    <p>
        아마 지구 건너편의 아이들은 Paul Bassett이 무엇인지는 잘 모를 것입니다. 하지만, 이 아이들이 보다 나은 환경에서
        자라나 주위의 또 다른 이들과 따뜻한 손길을 나눌 수 있다면, 그리고 이 아이들로 인해 더 맛있는 커피를 만나는 날이
        온다면 얼마나 기분 좋은 일일까요? 지금 이 시간에도 어디선가 환한 미소를 짓고 있을 그 아이를 생각하며, 그리고 이런
        커피 문화가 더 멀리 퍼져나갈 그 날을 생각하며 바리스타들은 오늘도 정성껏 커피를 만듭니다.
    </p>
</div>
<div class="socialImage">
    <img src="../../img/img_socialRespon_2.png">
</div>