<div class="espresso">
    <img src="../../img/img_menuCoffeeEspresso_1.png">
    <span class="subTitle">Espresso(에스프레소) Hot Only</span>
    <p>
        Paul Bassett 에스프레소는 시그니처 블렌드의 독특한 배합비, 신선한 로스팅,
        VST 트리플 바스켓 사용, 정밀한 추출방식을 통해 기존의 에스프레소와는
        다른 원두의 강한 단맛(Sweetness)이 살아있는 새로운 맛을 느낄 수 있습니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuCoffeeEspresso_2.png">
    <span class="subTitle">Ristretto(리스트레토) Hot Only</span>
    <p>
        에스프레소와 같은 양의 원두로 적은 양을 추출해 더욱 강하고
        풍부한 Paul Bassett 시그니처 블렌드의 향과 풍미를 느낄 수 있습니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuCoffeeEspresso_3.png">
    <span class="subTitle">Macchiato(마키아토) Hot Only</span>
    <p>
        에스프레소에 소량의 우유 거품을 더해 부드러우면서 진한 커피의
        조화로운 맛을 느낄 수 있습니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuCoffee_7.png">
    <span class="subTitle">Affogato(아포가토) Ice Only</span>
    <p>
        달콤한 하겐다즈 아이스크림 2스쿱에 에스프레소를 얹은
        Paul Bassett 대표 아이스크림 디저트입니다. 깊고 진한 에스프레소가
        달콤한 아이스크림과 부드럽게 어우러져 달콤 쌉싸름한 맛을 표현합니다.
    </p>
</div>