<div class="espresso">
    <img src="../../img/img_menuIceFrappe_1.png">
    <span class="subTitle">Latte Frappe(라떼 프라페)</span>
    <p>
        Paul Bassett 에스프레소와 저지방 우유를 블랜딩한 후,
        상하목장 밀크 아이스크림을 얹어 진하면서도 부드러운 맛을 살린
        Frappe입니다.
        <br>
        *기본 토핑:상하목장 밀크 아이스크림
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuIceFrappe_2.png">
    <span class="subTitle">Mocha Frappe(모카 프라페)</span>
    <p>
        Paul Bassett 에스프레소와 저지방 우유, 초콜릿을 블랜딩한 후,
        상하목장 밀크 아이스크림을 얹어 달콤하면서도 진한 맛을 살린 Frappe입니다
        <br>
        *기본 토핑:상하목장 밀크 아이스크림
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuIceFrappe_3.png">
    <span class="subTitle">Coffee Chip Frappe(커피칩 프라페)</span>
    <p>
        상하목장 밀크 아이스크림에 Paul Bassett 대표 원두인 시그니처 블렌드를 넣어
        달콤쌉싸름하게 즐기는 색다른 커피칩 프라페. 부드럽고 시원하게 즐길 수 있는
        '마시는 상하목장 밀크 아이스크림'입니다.
        <br>
        *기본 토핑 없음
        <br>
        *상하목장 밀크 아이스크림 토핑 추가 가능(+1,000원)
    </p>
</div>