<div id="iceCream">
    <img src="../../img/img_sanghaIcon_1.png">
    <p>
        2012년 7월, Paul Bassett 최초 출시 이후 꾸준한 사랑을 받고 있는 상하목장 밀크 아이스크림.
        자연과 바람, 황토, 싱그러운 풀이 있는 청정한 목장에서 까다로운 조건에 맞춰 행복하게 자란
        젖소로부터 얻은 우유로 만들어 더욱 특별합니다.
        최고의 브랜드 콜라보레이션을 통해 품질 높은 메뉴를 선보이는 Paul Bassett은 순수한 맛 그대로,
        우유 본연의 담백하고 산뜻한 맛을 담은 상하목장 밀크 아이스크림을 통해 자연 그대로의 건강함을
        선보입니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuSIceCream_3.png">
    <span class="subTitle">Sangha Farm Milk Ice-Cream<br>(상하목장 밀크 아이스크림)</span>
    <p>
        자연이 내어준 청정한 우유를 변함없이 전달하려는 상하목장의 건강한 기다림.그리고 이를 그대로
        담아낸 Paul Bassett의 상하목장 밀크 아이스크림.담백하고 산뜻한 우유 본연의 맛을 만나보세요.
    </p>
</div>
