<div class="espresso">
    <img src="../../img/img_menuCoffee_1.png">
    <span class="subTitle">Lungo(룽고)</span>
    <p>
        '길다'라는 의미의 룽고는 온수에 에스프레소 더블샷을 부어만듭니다.
        에스프레소보다 부드럽고 원두 고유의 맛과 향을 느낄 수 있으며 진하면서도
        부드럽게 입안에 감기는 맛이 달콤쌉쌀한 디저트를 연상시킵니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuCoffee_2.png">
    <span class="subTitle">Iced Lungo(아이스 룽고)</span>
    <p>
        갓 추출한 에스프레소 더블샷에 물과 얼음을 섞어 후레쉬한 향의 깨끗한 맛을 내는
        아이스 커피. 강하면서도 부드러운 룽고의 맛을 깨끗하고 시원하게 즐길 수 있어 더욱 매력적입니다.
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_menuCoffee_3.png">
    <span class="subTitle">Long Black Draught(롱 블랙 드래프트) Ice Only</span>
    <p>
        한잔의 시원한 흑맥주가 연상되는 롱 블랙 드래프트는 부드럽고 크리미한 거품과
        깊고 진한 에스프레소가 절묘하게 조화를 이루는 새로운 스타일의 아이스 커피입니다.
    </p>
</div>