<div class="tea-explain1">
    <span class="title">Paul Bassett Tea Selection - FAUCHON</span>
    <p>
        Paul Bassett은 Tea를 즐기는 고객분들께 보다 특별한 Tea 경험을 제공해 드리기 위하여
        커피 품질에 걸맞은 130년 전통을 이어온 프랑스 최고급 식료품 브랜드 FAUCHON의 Tea를 셀렉션하여
        정통 티 브루잉 방식에 따라 티의 양, 티를 우리는 물의 온도, 그리고 티를 우려내는 시간을 정확히 지켜 최상의 티 맛을 제공합니다.
    </p>
    <img src="../../img/img_tea_1.png" id="tea-image1" >
</div>
<div class="tea-explain2">
    <span class="title">FLAVOURED Tea Creator FAUCHON</span>
    <p>
        1960년 홍차에 각종 과일과 꽃의 향을 가미한 차를 개발한 FAUCHON은
        찻잎의 선별부터, 블렌딩, 패키징까지 세계최고의 기술로 품질을 유지하며
        차 본연의 향과 가향이 최적의 밸런스를 이루는 FAUCHON Tea만의 특별한 맛을 선보입니다.
    </p>
    <img src="../../img/img_tea_2.png" id="tea-image2">
</div>
<div class="espresso">
    <img src="../../img/img_teaCup_1.png">
    <span class="subTitle">Apple(애플)</span>
    <p>
        1972년 출시 이후 꾸준한 사랑을 받는 베스트셀러 실론티에 가향된 상큼한 레드 애플이 홍차와 최상의 밸런스로 완성
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_teaCup_1.png">
    <span class="subTitle">Earl Grey(얼그레이)</span>
    <p>
        홍차의 우디향과 베르가못향이 조화를 이루어 상큼한 시트러스향이 느껴지는 가향홍차 중 가장 대중적인 TEA
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_teaCup_1.png">
    <span class="subTitle">Darjeeling Imperial(다즐링)</span>
    <p>
        세계 3대 홍차로 불리며, 히말라야 산맥 2000m 이상 고산지대에서 채취, 독특한 풍미와 향으로 홍차의 샴페인이라 불리는 TEA
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_teaCup_1.png">
    <span class="subTitle">Peppermint(페퍼민트)</span>
    <p>
        소화에 도움을 주는 상쾌한 민트향의 허브티
    </p>
</div>
<div class="espresso">
    <img src="../../img/img_teaCup_1.png">
    <span class="subTitle">Chamomile(캐모마일)</span>
    <p>
        안정과 숙면에 도움을 주는 대표적인 허브티. 말린 캐모마일 꽃잎으로 이루어져 향긋한 꽃향으로 선호도 높은 TEA
    </p>
</div>