<ul class="aboutWBC-contents">
    <li class="aboutWBC">
        <span class="WBCtitle">WBC 대회란?<br></span>
        World Barista Championship(WBC)는 세계에서 가장 규모 있는 커피 이벤트인<br>
        World Coffee Events(WCE)에서 개최되는 다양한 분야의 커피 대회 중 가장 큰<br>
        행사이자 가장 역사가 오래된 세계 커피 대회입니다. WBC는 매년 50개국 이상의<br>
        국가대표 바리스타들이 참가하는 세계적인 커피 대회로, 바리스타들은 15분안에<br>
        에스프레소 4잔과 카푸치노 4잔, 그리고 창작음료 4잔을 만들어평가를 받습니다.<br>
        심사위원 또한 세계 각국에서 모인 바라스타들로 구성되어 있으며, 맛, 청결,<br>
        창의성, 기술, 프리젠테이션 능력을 기준으로 참가자들의 평가가 진행됩니다.<br>
        이 대회는 예선전을 통해 선발된 12인이 준결승을 치른 후 상위 6인만이 결승전에<br>
        진출하여 월드 바리스타 챔피언이 되기 위한 마지막 경쟁을 하게 됩니다.
    </li>
    <li class="WBClogo">
        <img src="../../img/bg_wbc.gif">
    </li>
</ul>
<div class="WBChistory">
    <span class="WBCtitle">WBC 역대 챔피언<br></span>
    WBC는 2000년 Monte Carlo, Monaco에서 개최 된 이후 15년간 매년 WBC 대회가 진행 되고 있으며, 바리스타 폴 바셋은 2003년
    Boston, United States에서 개최된 WBC 대회에서 역대 최연소 및 호주인 최초로 챔피언이라는 타이틀을 수상하였습니다.

</div>