<header>
    <div class="header-top">
        <img src="../img/btn_eshop.png" class="e-shop">
        <img src="../img/mainLogo.png" class="logo">
        <ul class="header-menu">
            <li>LOGIN</li>
            <li>CONTACT US</li>
            <li>RECRUIT</li>
            <li>신규입점제의</li>
        </ul>
    </div>
    <ul class="header-bottom">
        <li class="aboutUs" page-id="aboutUs">ABOUT &nbsp; US</li>
        <li class="menu" page-id="menu">MENU</li>
        <li class="shop" page-id="shop">SHOP</li>
        <li page-id="society">SOCIETY</li>
        <li page-id="whatsNew">WHAT'S NEW</li>
    </ul>
</header>