<header>
    <div class="header-top">
        <div class="e-shop">
            <img src="../img/btn_eshop.png">
        </div>
        <div class="main-logo">
            <img src="../img/mainLogo.png">
        </div>
        <ul class="header-menu">
            <li>LOGIN</li>
            <li>CONTACT US</li>
            <li>RECRUIT</li>
            <li>신규입점제의</li>
        </ul>
    </div>
    <ul class="header-bottom">
        <li>ABOUT US</li>
        <li>MENU</li>
        <li>SHOP</li>
        <li>SOCIETY</li>
        <li>WHAT'S NEW</li>
    </ul>
</header>