<header>
    <div class="header-top">
        <div class="e-shop">
            <img src="../img/btn_eshop.png">
        </div>
        <div class="main-logo">
            <img src="../img/mainLogo.png">
        </div>
        <ul class="header-menu">
            <li>LOGIN</li>
            <li>CONTACT US</li>
            <li>RECRUIT</li>
            <li>신규입점제의</li>
        </ul>
    </div>
    <ul class="header-bottom">
        <li page-id="aboutUs">ABOUT US</li>
        <li page-id="menu">MENU</li>
        <li page-id="shop">SHOP</li>
        <li page-id="society">SOCIETY</li>
        <li page-id="whatsNew">WHAT'S NEW</li>
    </ul>
</header>