
.main-carousel-visible {
  position: relative;
  margin: 10px auto;
  width: 1000px;
  height: 600px;
  text-align: center;
  overflow: hidden;
}

.main-carousel-visible > li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: 1000px 600px;
}

.main-carousel-indicator {
  text-align: center;
  cursor: pointer;
}

.main-carousel-indicator > li {
  display: inline-block;
  padding: 3px;
  font-size: 10px;
}

.main-carousel-indicator > li.active {
  color: #c4004a;
}