@import 'common.less';

.main-page-image {
  text-align: center;
}

.main-page-image > img {
  width: 900px;
  height: 700px;
}

.main-page-image-selector {
  margin: 10px 0px;
  text-align: center;
  cursor: pointer;
}

.fa {
  padding-right: 5px;
  font-size: 10px;
}

.main-news {
  display: inline-block;
  margin-left: 140px;
  margin-bottom: 30px;

  div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 50px;
    vertical-align: middle;
  }
}

.main-press {
  display: inline-block;

  div {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
  }
}

span {
  margin-left: 80px;
}