@import 'common.less';

.main-page-image {
  text-align: center;
}

.main-page-image > img {
  width: 1000px;
  height: 600px;
  display: none;
}

.main-page-image > img.active {
  display: inline-block;
}

.main-page-image-selector {
  margin: 10px 0px;
  text-align: center;
  cursor: pointer;
}

.fa {
  padding-right: 5px;
  font-size: 10px;
}

.fa:active {
  color: #c4004a;
}

.main-sub {
  margin: auto;
  padding-bottom: 30px;
  width: 1000px;
}

.main-sub > li {
  display: inline-block;
}

.sub-news {
  position: relative;
  margin: 10px;
  width: 48%;
}

.sub-news > img {
  padding-right: 10px;
}

.sub-press {
  position: relative;
  margin: 10px;
  width: 48%;
}

.sub-press > img {
  padding-right: 10px;
}

.mni-news {
  display: inline-block;
  font-size: 12px;
}

.mni-press {
  display: inline-block;
  font-size: 12px;
}

.news-date {
  position: absolute;
  top: 13px;
  right: 50px;
  font-size: 12px;
}

.press-date {
  position: absolute;
  top: 13px;
  right: 50px;
  font-size: 12px;
}

