@import 'common.less';

.top-image {
  text-align: center;
}

.about-image {
  width: 1000px;
  border-top: solid 10px #c4004a;
}

.contents {
  margin: 0px auto;
  width: 1000px;
}

//좌측 서브메뉴
.left-menus {
  display: inline-block;
  padding: 20px;
  width: 200px;
  height: 600px;
  color: #6b6b6b;
  font-size: 12px;
  cursor: pointer;

  div {
    padding-bottom: 10px;
    font-size: 15px;
    letter-spacing: -2px;
    border-bottom: solid 1px #6b6b6b;
  }

  li {
    margin: 10px 0px;
  }
}

.left-sub-menu {
  margin-left: 10px;
  display: none;

  li:hover {
    color: #c4004a;
  }
}

//About Us 본문 우측 내용
.right-contents {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}

.contents-path {
  height: 80px;
  font-size: 12px;
  color: #6b6b6b;
  text-align: right;
  line-height: 100px;
}

.choice-menu {
  font-weight: bold;
}

.main-contents {
  padding-bottom: 70px;
}

.menu-text-contents {
  font-size: 12px;
}

.about-paul {
  display: inline-block;
  margin: 10px 40px 30px 30px;
  vertical-align: top;
  font-size: 12px;
}

.paul-profile {
  display: inline-block;
  margin: 10px;
  font-size: 12px;
}

.paul-profile > li {
  list-style: square;
}

.menu-image-contents > img {
  width: 800px;
}

//WBC 우측 내용
.aboutWBC-contents > li {
  display: inline-block;
  vertical-align: middle;
}

.aboutWBC {
  font-size: 12px;
}

.WBClogo > img {
  margin-left: 30px;
}

.WBCtitle {
  font-size: 15px;
  font-weight: bold;
}

.WBChistory {
  margin-top: 30px;
  font-size: 12px;
}

.wbctable {
  margin-top: 30px;
  width: 100%;
}

.wbctable thead tr th {
  text-align: center;
  border-top: solid 1px #6b6b6b;
  border-bottom: solid 1px #6b6b6b;
  height: 40px;
  background-color: #ffeaec;
}

.wbctable tbody tr td {
  padding: 10px 20px 10px 20px;
  height: 40px;
  border-bottom: solid 1px #6b6b6b;
}

.year {
  text-align: center;
}

.wbcPaul {
  color: #c4004a;
  font-weight: bold;
  background-color: #fff8ed;
}

.wbcPaul img {
  width: 25px;
}

//brand identity내용
.Identity {
  margin: 10px;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.Identity p {
  padding-top: 20px;
  font-size: 12px;
}

.identityImage {
  text-align: center;
  padding: 10px;
}

#logo {
  width: 200px;
}

#crown {
  width: 150px;
}

#pattern, #color {
  width: 100%;
}

//brand principles내용
.principles {
  margin: 10px;
  font-size: 12px;
}

.principles p {
  margin-top: 10px;
}

.principlesList {
  margin: 30px 10px;
}

.principlesList img {
  display: inline-block;
  width: 350px;
  vertical-align: top;
}

.principlesContent {
  display: inline-block;
  margin: 10px;
  width: 400px;
  font-size: 12px;

  p {
    margin-top: 10px;
  }
}

//barista 내용
.explain {
  margin: 10px;
  font-size: 12px;
}

.baristaEducation {
  padding: 50px 10px;
}

.baristaEduImage img {
  margin: 10px 0px 0px 10px;
  width: 380px;
}

//contribution 내용
.explain p {
  padding-top: 20px;
}


.socialImage img {
  margin: 30px;
  width: 740px;
}

//menu
.tea-explain1 {
  position: relative;

  p {
    width: 580px;
    height: 250px;
  }
}

.tea-explain2 {
  position: relative;
  margin-bottom: 50px;

  span {
    position: absolute;
    left: 150px;
  }

  p {
    position: absolute;
    left: 150px;
    top: 20px;
    width: 580px;
    height: 250px;
  }
}

#tea-image1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 250px;
}

#tea-image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 60px;
}


#iceCream {
  position: relative;
  margin-bottom: 100px;

  img {
    width: 150px;
    position: absolute;
    top: 0px;
    right: 50px;
  }

  p {
    margin: 30px;
    width: 550px;
    font-size: 12px;
  }
}