@import 'common.less';

.top-image {
  text-align: center;
}

.menu-image {
  width: 1000px;
  border-top: solid 10px #c4004a;
}

.left-menu {
  display: inline-block;
  margin-top: 20px;
  margin-left: 300px;
  width: 200px;
}

.main-menu {
  padding-bottom: 10px;
  border-bottom: solid 1px #333;
  font-size: 20px;
  letter-spacing: -2px;
}

.sub-menu-list > li {
  margin-top: 10px;
  cursor: pointer;
}

.sub-menu-list > li.active {
  color: #c4004a;
}

.paul-bassett-sub > li {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #6b6b6b;
}

.paul-bassett-sub > li.active {
  color: #c4004a;
}

.contents {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

.contents-path {
  margin-top: 20px;
  margin-left: 450px;
  font-size: 12px;
  color: #6b6b6b;
}

.main-content {
  font-size: 12px;
  color: #6b6b6b;
}

.aboutPaul {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.paul-profile {
  display: inline-block;
  margin-top: 20px;
  list-style: square;
}

.paul-profile > li {
  margin-left: 50px;
  padding-bottom: 10px;
}

.paul-profile > li:last-child {
  padding-bottom: 20px;
}


.paul-img {
  margin-left: 20px;
  margin-bottom: 80px;

  img {
    width: 100%;
  }
}