<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Paul Bassett</title>
</head>
<body>
{{> template/header}}
<section class="main">
    <div class="main-carousel main-images">
        <ul class="main-carousel-visible">
            <li style="background-color: #c4004a"></li>
        </ul>
        <ul class="main-carousel-indicator">
            <li class="active num1">
                <i class="fa fa-circle"></i>
            </li>
            <li class="num2">
                <i class="fa fa-circle"></i>
            </li>
            <li class="num3">
                <i class="fa fa-circle"></i>
            </li>
            <li class="num4">
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>
</section>
<section class="main-sub">
    <div class="sub-news">
        <img src="./img/newIcon.png">
        <div>폴 바셋 스탬프 이벤트 확인 기간 안내
            <span>2017.07.31</span>
        </div>
    </div>
    <div class="sub-press">
        <img src="./img/pressIcon.png">
        <div>헤럴드경제] "취향저격 성공?실패?...웃고 우는...
            <span>2017.04.06</span>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>