<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
{{> template/header }}
<section class="top-image">
    <img src="./img/aboutUsImage.png" class="about-image">
</section>
<section class="contents">
    <ul class="left-menus">
        <div>ABOUT &nbsp; US</div>
        <li class="active">
            WBC 챔피언 폴 바셋
            <ul class="left-sub-menu">
                <li page-id="baristaPaul">바리스타 폴 바셋</li>
                <li page-id="wbc">WBC 대회</li>
            </ul>
        </li>
        <li>
            Brand
            <ul class="left-sub-menu">
                <li page-id="identity">Brand Identity</li>
                <li page-id="principles">Brand Principles</li>
            </ul>
        </li>
        <li page-id="barista">Barista</li>
        <li page-id="socialContribution">Social Contribution</li>
    </ul>
    <div class="right-contents">

    </div>
</section>
{{> template/footer }}
</body>
</html>