<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
{{> template/header }}
<section class="top-image">
    <img src="./img/aboutUsImage.png" class="about-image">
</section>
<section class="contents">
    <nav class="left-menu">
        <div class="main-menu">ABOUT US</div>
        <ul class="sub-menu-list">
            <li class="active paul-bassett">
                WBC 챔피언 폴 바셋
                <ul class="paul-bassett-sub">
                    <li class="barist-paul" page-id="bristaPaul">
                        바리스타 폴 바셋
                    </li>
                    <li class="active aboutWBC" page-id="WBC">
                        WBC대회
                    </li>
                </ul>
            </li>
            <li class="brand">Brand</li>
            <li class="barista">Barista</li>
            <li class="contribution">Social Contribution</li>
        </ul>
    </nav>
    <div class="main-contents">

    </div>
</section>
{{> template/footer }}
</body>
</html>