<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
{{> template/header }}
<div class="top-image">
    <img src="./img/aboutUsImage.png" class="menu-image">
</div>
<div class="left-menu">
    <div class="main-menu">ABOUT US</div>
    <div class="sub-menu-list">

    </div>
</div>
<div class="contents">
    <div class="contents-path"></div>
    <div class="main-content"></div>
</div>
{{> template/footer }}
</body>
</html>