<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
</head>
<body>
{{> template/header }}
<section class="top-image">
    <img src="./img/aboutUsImage.png" class="about-image">
</section>
<section class="contents">
    <ul class="left-menus">
        <div>SHOP</div>
        <li class="active" page-id="storeSearch">
            매장찾기
        </li>
        <li>
            인테리어
            <ul class="left-sub-menu">
                <li page-id="latteArt">라떼 아트 행잉 간판</li>
                <li page-id="showbox">돌출 박스 간판</li>
            </ul>
        </li>
    </ul>
    <div class="right-contents">

    </div>
</section>
</body>
{{> template/footer }}
</html>